[includeIf "gitdir:~/loft/**"]
  path = ~/.gitconfig-work
[includeIf "gitdir:~/dev/**"]
  path = ~/.gitconfig-personal
[core]
	pager = delta --side-by-side
	excludesfile = /home/decoder/.gitignore
[oh-my-zsh]
	hide-status = 1
[init]
	defaultBranch = main
