.vsnip/global.json filter=git-crypt diff=git-crypt
.config/nvim/lua/s_mappings.lua filter=git-crypt diff=git-crypt
.config/tmuxinator/loft-prod.yml filter=git-crypt diff=git-crypt
scripts/__project_mappings.conf filter=git-crypt diff=git-crypt
scripts/__backup.sh filter=git-crypt diff=git-crypt