# Direnv files
.envrc

# Vim sessions and config
*.vim
.nvimrc.lua

# Ai coding
.aider*
.gp.md
CLAUDE.md

# Git-crypt keys
.keys/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

settings.local.json
