[color]
branch = auto
diff = auto
interactive = auto
status = auto
[core]
excludesFile = ~/.gitignore
pager = delta
[user]
email = piotr@upbound.io
signingkey = FED1B098B68D69FD
name = Piotr Zaniewski
[alias]
s = status
st = status
d = diff
dc = diff --cached
ci = commit --verbose
cia = commit --verbose --all
co = checkout
su = submodule update --init --recursive
logg = log --graph
add-commit = !git add -A && git commit
[diff]
#tool = vimdiff
colorMoved = default
[merge]
	tool = fugitive
conflictstyle = diff3
[push]
default = matching
[branch]
autosetuprebase = always
[init]
defaultBranch = main
[commit]
gpgsign = true
template = ~/.gitmessage
[interactive]
diffFilter = delta --color-only
[delta]
navigate = true # use n and N to move between diff sections
[url "git@github.com:"]
	insteadOf = https://github.com/
[mergetool "fugitive"]
	cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
