[Desktop Entry]
Name=Parcellite
Name[ca]=Parcellite
Name[cs]=Parcellite
Name[da]=Parcellite
Name[de]=Parcellite
Name[hu]=Parcellite
Name[it]=Parcellite
Name[ja]=Parcellite
Name[nb]=Parcellite
Name[pl]=Parcellite
Name[pl_PL]=Parcellite
Name[ro]=Parcellite
Name[sv]=Parcellite
Name[zh_CN]=Parcellite
GenericName=Clipboard Manager
GenericName[ca]=Gestor del porta-retalls
GenericName[cs]=Správce schránky
GenericName[da]=Udklipsholder
GenericName[de]=Verwaltung der Zwischenablage
GenericName[es]=Gestor del portapapeles
GenericName[fr]=Gestionnaire de presse-papier
GenericName[hu]=Vágólapkezelő
GenericName[it]=Gestore degli appunti
GenericName[ja]=クリップボード・マネージャ
GenericName[nb]=Utklippstavleverkty
GenericName[pl]=Schowek
GenericName[pl_PL]=Menadżer schowka
GenericName[pt_BR]=Gerenciador de Área de Transferência
GenericName[ro]=Administrator clipboard
GenericName[ru]=Менеджер буфера обмена
GenericName[sv]=Urklippshanterare
GenericName[tr]=Pano Yöneticisi
GenericName[zh_CN]=剪切板管理器
GenericName[zh_TW]=剪貼簿管理器
Comment=Lightweight GTK+ clipboard manager
Icon=parcellite
Exec=parcellite
Terminal=false
Type=Application
Keywords=clipboard;manager;copy;paste;
Categories=GTK;GNOME;Application;Utility;
OnlyShowIn=GNOME;KDE;LXDE;MATE;Razor;ROX;TDE;Unity;XFCE;Old;
