* {
    background-image: none;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
}

window {
    background-color: rgba(4, 4, 6, 0.85);
}

button {
    color: #e5d9f5;
    background-color: #1e1e2e;
    border: 2px solid #11111b;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border-radius: 0px;
    margin: 5px;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #313244;
    border: 2px solid #ffd700;
    color: #ffd700;
}

button:focus {
    background-color: #313244;
    border: 2px solid #ffd700;
    color: #ffd700;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}
